<f:layout name="Default" />

<f:section name="Main">
    <f:form id="f{contentObjectData.uid}" class="form-filetransfer" action="upload" name="upload" object="{upload}" method="POST" enctype="multipart/form-data">
        <f:render partial="Upload/Properties" arguments="{upload: upload}" />
        <div class="mt-3">
            <f:form.submit name="submit" class="btn btn-primary" value="{f:translate(key:'upload.form.submit.label', extensionName: 'filetransfer')}" />
        </div>
    </f:form>
    <f:asset.css identifier="filetransfer_fileupload_uploadform" href="EXT:filetransfer/Resources/Public/Css/uploadform.css" />
    <f:asset.script identifier="filetransfer_fileupload_{contentObjectData.uid}" type="module">
        import Fileupload from '@wacon/filetransfer/Fileupload.js'
        <f:alias map="{'ocb': '{', 'ccb': '}'}">
        const fileupload = new Fileupload({ocb}
            dropZone: "#f{contentObjectData.uid} .upload-dropzone",
            fileUploadInput: "#f{contentObjectData.uid} .upload-dropzone-input",
            errors: {ocb}
                unsupportedType: '#f{contentObjectData.uid} .upload-dropzone--error-unsupported-type'
            {ccb}
        {ccb});
        </f:alias>
    </f:asset.script>
</f:section>
